// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/base';
@import 'sencha-touch/base/all';

$green: #29bc9d !default;
$blue: #2d3e4f !default;
$red: #ec8179 !default;
$white: #fff !default;
$gray-bg: #e4e7ea !default;
$gray-text: #636e7b !default;
$black:#111;

$list-bg:#fff !default;

//dark theme
$dark-card-bg-color:#444 !default;
$dark-toolbar-bg-color: #111 !default;
$dark-red: #ec8179 !default;

$dark-list-bg-color:#1f1f1f !default;
$dark-list-font-color:#ccc !default;
$dark-list-font-small-color:#777 !default;

$dark-sidebar-bg-color: $dark-toolbar-bg-color !default;
$dark-view-bg-color: $dark-toolbar-bg-color !default;
$dark-input-bg-color:#000 !default;
$dark-player-bg-color:$dark-card-bg-color !default;
$dark-selector-bg-color:$dark-card-bg-color !default;

//orange theme
$orange-card-bg-color:#444 !default;
$orange-toolbar-bg-color: #e67e22 !default;
$orange-red: #88cddc !default;

// $orange-list-bg-color:#ecf0f1 !default;
// $orange-list-font-color:#ccc !default;
// $orange-list-font-small-color:#777 !default;

$orange-player-bg-color:#88cddc !default;
$orange-player-bg-selection-color:$orange-toolbar-bg-color !default;
$orange-sidebar-bg-color: $orange-toolbar-bg-color !default;
$orange-sidebar-bg-selection-color: $orange-player-bg-color !default;

$orange-view-bg-color: $orange-toolbar-bg-color !default;
$orange-input-bg-color:#fff !default;
$orange-selector-bg-color:#f39c12 !default;
$orange-selector-btn-bg-color:$orange-player-bg-color !default;

// Custom code goes here..
@import 'includes/_search.scss';
@import 'includes/_favorites.scss';
@import 'includes/_hymn.scss';
@import 'includes/_device.scss';
@import 'includes/_toolbar.scss';
@import 'includes/_sidebar.scss';
@import 'includes/icons/fontello.scss';
@import 'includes/icons/animation.scss';
@import 'includes/_player.scss';
@import 'includes/_configurations.scss';
@import 'includes/_messagebox.scss';
@import 'includes/_mainmenu.scss';

// Examples of using the icon mixin:
// @include icon('user');
