body{
    overflow: hidden;
}
.tablet-styles{
	.hymn-view{
		margin: 0 5em;
	}
}

.about{
	font-size:0.6em;
	text-align:center;
	margin:5px;
}

.x-layout-card-item{
    background-color: $gray-bg;
    color: $gray-text;
}