@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?26408743');
  src: url('../fonts/fontello.eot?26408743#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?26408743') format('woff'),
       url('../fonts/fontello.ttf?26408743') format('truetype'),
       url('../fonts/fontello.svg?26408743#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?26408743#fontello') format('svg');
  }
}
*/
 
 .x-clear-icon:before,.x-clear-icon:before,
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-spin5:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-cd-1:before { content: '\e802'; } /* '' */
.icon-note:before { content: '\e803'; } /* '' */
.icon-note-beamed:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e807'; } /* '' */
.icon-comment:before { content: '\e808'; } /* '' */
.icon-chat:before { content: '\e809'; } /* '' */
.icon-book-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-sort-up:before { content: '\e80c'; } /* '' */
.x-clear-icon:before,
.icon-cancel-circle:before { content: '\e80d'; } /* '' */
.icon-ipod:before { content: '\e80e'; } /* '' */
.icon-cd:before { content: '\e80f'; } /* '' */
.icon-book:before { content: '\e810'; } /* '' */
.icon-pencil:before { content: '\e811'; } /* '' */
.icon-cog:before { content: '\e812'; } /* '' */
.icon-headphones:before { content: '\e813'; } /* '' */
.icon-play-circled:before { content: '\e814'; } /* '' */
.icon-stop-circled:before { content: '\e815'; } /* '' */
.icon-pause-circled:before { content: '\e816'; } /* '' */
.icon-backward-circled:before { content: '\e817'; } /* '' */
.icon-forward-circled:before { content: '\e818'; } /* '' */
.icon-user-pair:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-star-empty:before { content: '\e81b'; } /* '' */
.icon-doc:before { content: '\e81c'; } /* '' */
.icon-star:before { content: '\e81d'; } /* '' */
.icon-facebook-squared:before { content: '\e81e'; } /* '' */
.icon-twitter-squared:before { content: '\e81f'; } /* '' */
.icon-login:before { content: '\e820'; } /* '' */
.icon-logout:before { content: '\e821'; } /* '' */
.icon-left-open:before { content: '\e822'; } /* '' */
.icon-right-open:before { content: '\e823'; } /* '' */