
.blog{

    .x-list .x-list-item{
        height:auto;
    }
    .custom-panel{
        padding: 0;
        margin: 8px;
        overflow:hidden;

        .image-cover{
            background: no-repeat center center;
            background-size: cover;
            height: 120px;
        }

        .video-wrapper {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .custom-panel-detail{
            padding: 10px 15px;

            h2{
                font-size: 18px;
                color: #111;
                font-weight: bold;
            }

            .blog-meta{
                font-size:14px;
                margin:0;
                em{
                    font-style: oblique;
                }
            }

            p{
                line-height: 20px;
            }
        }
    }
}


.blog-post{
    h3{
        margin-bottom: 5px;
    }
    img{
        width:100%;
    }

    pre{
        font-size: 10px;
        margin-bottom: 10px;
    }

    a{
        color:$green;
    }
}

.theme-dark{
    .blog-post{
        h3{
            color:$dark-list-font-color;
        }

        a{
            color:$dark-list-font-color;
        }
    }
    .blog .custom-panel .custom-panel-detail h2{
        color:$dark-list-font-color;
    }
}