.configurations{
    .x-form-fieldset {
        margin: .5em .5em 1.5em;

        .x-form-fieldset-inner{
            border: none !important;
        }
    }

    .x-form-label {
        color:$dark-list-font-small-color;
        // text-shadow: rgba(255,255,255,0.25) 0 0.08em 0;
        padding: 0.6em;

        span{
            font-weight: normal;
            font-size: 15px;
        }
    }

    .x-input-el {
        padding: .4em;
        min-height: 2.5em;
        border-width: 0;
        -webkit-appearance: none;
    }

    .x-spinner{
        .x-spinner-button{
            color: $white;
            margin-top: .25em;
            margin-bottom: .25em;
            width: 2em;
            padding: .23em 0 .27em;
            font-weight: bold;
            text-align: center;
            border:none !important;
            @include border-radius(3px);
        }

        .x-spinner-button-up{
            background-color: $green;
        }
        .x-spinner-button-down{
            background-color: $blue;
            margin-right: 3px;
        }
    }

    .x-input-el:checked + .x-field-mask::after {
        color: $green;
    }
    .x-input-radio:checked + .x-field-mask::after {
        background: $green;
    }
    .x-input-radio {
        visibility: hidden;
    }
    .x-field-radio{
        .x-field-mask {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .x-field-mask::before {
            content: '';
            position: absolute;
            width: 26px;
            height: 26px;
            top: 11px;
            left: auto;
            right: 11px;
            background-color: #fff;
            @include border-radius(26px);
            border: #ccc 1px solid;
        }
        .x-field-mask::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: 16px;
            left: auto;
            right: 16px;
            background-color: $gray-bg;
            @include border-radius(16px);
        }
    }
}

.custom-panel{
    @include border-radius(3px);
    @include box-shadow(0 3px 0 rgba(12,12,12,0.03));
    background: #fcfcfc;
    border: 0;
    padding: 10px 15px;
    margin:8px 8px 24px 8px;

    h2,h3{
        color:$black;
    }
    h4{
        font-size: 18px;
        color: #111;
        font-weight:bold;
    }
    p{
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 20px;
    }
}

.x-picker{
    background-color: $blue;

    .x-picker-item{
        color:#fff;
        height:25px;
    }
    .x-picker-mask{
        
        .x-picker-bar{
            height:2.5em;
            background-color:rgba(41, 188, 157,0.3);
        }
    }

    .x-button{
        background-color:$green;
        color:#fff;
        @include border-radius(3px);
        border: none;
        padding: 5px 15px;
        margin: 0 10px;
    }
}

.theme-dark{
    .x-picker{
        background-color: $dark-selector-bg-color;
    }
    .configurations .x-input-el{
        background-color:$dark-input-bg-color;
        color:#fff;
    }
}