body{
    overflow: hidden;
}
.tablet-styles{
	.hymn-view{
        .custom-panel{
            padding: 30px 45px;

            h3{
                margin: 10px 0 20px 0;
            }
        }
	}

    .main-menu-tablet{
        
        .image-font{
            font-size:1.5em;    
        }
    }

    .blog{
        .x-dataview-container{
            display: flex;
            flex-wrap: wrap;
            
            .x-dataview-item{
                width:230px;
            }
        }

        .custom-panel .custom-panel-detail .blog-meta{
            font-size: 12px;
        }
    }
}

.about{
	font-size:0.6em;
	text-align:center;
	margin:5px;
}

.x-layout-card-item{
    background-color: $gray-bg;
    color: $gray-text;
}