.hymn-view{
	h3{
		font-weight:bold;
		font-size:1.3em;
		text-align:center;
		margin:10px 0;
	}
	p{
		font-size:1em;
		white-space:pre-wrap;
		margin:10px;
	}
}

.bg-white{
	background:$white;
	color:#000;
}

.bg-black{
	background:#000;
	color:$white;
}

.bg-sepia{
	background:#FFF8DC;
	color:#654321;
}

@include icon('music');
@include icon('pause');