.hymn-view .custom-panel{
	h3{
		font-weight:bold;
		font-size:1.3em;
		text-align:center;
		margin:10px 0;
	}
	p{
		font-size:1em;
		line-height: 1.3em;
		white-space:pre-wrap;
		padding-bottom: 80px;
		margin:10px;
	}
}

.hymnal-song-playing{
	color:$green;
}

.list-panel{
	background-color:#fff;
}