
.main-menu-container{
    background-color: $blue;  

    .main-menu-tablet{
        padding: 5px;
        color: #fff;

        h1{
            padding-bottom:20px;
            font-weight: bold;
        }
        .menu-item{
            padding: 12px 5px;
        }

        .active-item{
            color:$green;
        }
    }
}

.main-menu-container .main-menu-tablet > .x-innerhtml{
    text-align: center;
}