.x-msgbox-dark{
    background-color: $blue;
    border: none;
    @include border-radius(5px);
    color: #fff;

    .x-msgbox-title{
        margin-bottom: 15px;
    }

    .x-msgbox-text{
        margin-bottom: 10px;
        line-height: 22px;
    }

    .x-button{
        background-color:$green;
        border: none;
        margin: 0 10px;
        @include border-radius(5px);
        padding: 5px;
    }
}

.theme-dark{
    .x-msgbox-dark{
        background-color: $dark-card-bg-color;
        .x-toolbar-dark{
            background-color: $dark-card-bg-color;
        }
    }
}

.theme-orange{
    .x-msgbox-dark{
        background-color: $orange-toolbar-bg-color;

        .x-button{
            background-color:$orange-player-bg-color;
        }
    }
}