.player-container{
    position: absolute;
    bottom: -92px;
    left: 0;
    right: 0;

    .player-knob{
        background-color: $blue;
        @include border-top-radius(5px);
        height:30px;
        width:70px;
        margin:0 auto;
        color:$white;
        text-align: center;
    }
    .player-controls{
        background-color: $blue;
        color: $white;
        width:300px;
        margin:0 auto;
        padding: 10px 15px;
        font-size: 2em;
        @include border-top-radius(10px);

        .player-status-bar {
            height: 3px;
            background-color: #000;
            margin-bottom: 5px;
            padding: 1px;

            .player-timeline{
                background-color:$green;
                height:1px;
            }
        }
        .player-song-title {
            font-size: 0.3em;
            text-align: center;
            margin-bottom: 10px;
        }

        .icon-note-beamed{
            margin-left: 40px;
        }

        .player-play-voice{
            .icon-user{
                font-size: 0.9em;
            }
            .icon-note{
                font-size: .5em;
                margin-top: 0px;
                position: absolute;
                margin-left: -15px;
            }
        }

        .player-selected{
            color:$green;
        }
    }
}