
.app-logo{
    width: 35px;
    margin-bottom: 10px;
    margin-top: 3px;
}
.x-toolbar-dark,
.hymnal-title-bar{
    background-color:$blue;
    color:#fff;
    border:none !important;
}

.hymnal-title-bar .x-innerhtml{
    @include display-box;
    @include box-orient(horizontal);
    padding: 10px;

    h1,span{
        @include box-flex(1);
    }
    h1{
        font-size: 1.3em;
        text-align: center;
        font-weight: bold;
    }
    span{
        font-size:1.5em;
    }

    .icon-heart{
        color:$red;
    }
}

.theme-dark{
    .x-toolbar-dark,
    .hymnal-title-bar{
        background-color:$dark-toolbar-bg-color;
    }

    .hymnal-title-bar .x-innerhtml{

        .icon-heart{
            color:$dark-red;
        }
    }
}

.theme-orange{
    .x-toolbar-dark,
    .hymnal-title-bar{
        background-color:$orange-toolbar-bg-color;
    }

    .hymnal-title-bar .x-innerhtml{

        .icon-heart{
            color:$orange-red;
        }
    }
}